<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>sunil</servlet-name>
		<display-name>sunil</display-name>
		<description>sunil</description>
		<servlet-class>com.sunrays.proj4.controller.sunil</servlet-class> 
	</servlet>
	<servlet-mapping>
		<servlet-name>sunil</servlet-name>
		<url-pattern>/sunil</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
